:root {
  background-color: #f1f6f9;
}

* {
  min-width: 0;
  font: inherit;
  font-family: "Roboto", sans-serif !important;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
html {
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
