.containerAbout {
  min-height: 400px;
  color: #19376d;
  margin-bottom: 30px;
}

.containerAbout .boxAbout {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.containerAbout .boxAbout .aboutMeTitle {
  font-size: clamp(1.35rem, 0.625rem + 2.5vw, 2.5rem);
  font-weight: 500;
}

.boxCardAbout {
  width: 500px;
  border: 3px solid #19376d;
  padding: 40px 20px;
  border-radius: 40px;
}

.boxInfoAuthorsCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.authorName {
  text-align: center;
  font-size: clamp(1.1rem, 0.1875rem + 2.25vw, 1.75rem) !important;
}

.imageAuthor1 {
  width: 40%;
}

.enlacesAuthor {
  width: 60%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.aboutButtonPage {
  margin: auto;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #19376d;
  font-family: inherit;
}

.enlacesAuthorText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
  font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
}

.aboutButtonPage :hover {
  transform: scale(1.1);
}

.aboutButtonPage :not(:hover) {
  transform: scale(1);
}

@media (max-width: 899px) {
  .containerAbout {
    min-height: 0px;
  }
  .containerAbout .boxAbout {
    height: auto;
    padding: 50px 10px 20px 10px;
  }
  .boxCardAbout {
    margin-top: 20px;
    width: 60%;
    padding: 30px 15px;
  }
}

@media (max-width: 500px) {
  .boxCardAbout {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .boxCardAbout {
    width: 90%;
  }
  .boxInfoAuthorsCard {
    flex-direction: column;
  }
}
