header.appBarFooter {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #19376d;
  box-shadow: none;
  padding: 0px 50px;
}

.divFooter {
  border: 0px;
}

.boxFooter1 {
  height: 100px;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid blue;
  margin-right: 50px;
}

.boxFooter2 {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameFooter {
  color: inherit;
  text-decoration: none;
  cursor: auto;
  user-select: none;
}
