.divContainerMaps {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.divContainerMaps .maps-component {
  width: 100%;
  height: 100%;
}

.divContainerMaps .maps-component .tileLayerMaps {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .divContainerMaps {
    margin-top: 20px;
    height: 250px;
  }
}
