.containerPopular {
  min-height: 300px;
  margin-bottom: 30px;
}

.containerPopular .backButton {
  position: relative;
  top: 40px;
  font-family: inherit;
  color: #19376d;
  font-weight: 700;
}

.containerPopular .backButton p {
  margin-left: 5px;
  font-weight: 500;
  font-size: clamp(0.75rem, 0.5625rem + 0.75vw, 1rem);
}

.containerPopular .boxPopularTitle {
  margin-top: 60px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
}

.containerPopular .boxPopularTitle .titlePopular {
  font-size: clamp(1.25rem, 0.75rem + 2vw, 2.25rem);
  color: #19376d;
}

.containerPopular .containerSpinner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerPopular .containerSpinner .spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px no-repeat,
    conic-gradient(#0000 30%, #474bff);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.containerPopular .boxCards {
  display: flex;
  flex-wrap: wrap;
  justify-items: start;
}

@media only screen and (max-width: 768px) {
  .containerPopular {
    margin-top: 30px;
  }

  .containerPopular .boxPopularTitle {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
  }
  .containerPopular .backButton {
    top: 0px;
  }
}
