.boxSearchBar {
  display: flex;
  height: 100px;
}

.boxInputSearch {
  height: 100%;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.inputSearch {
  width: 95%;
}

button.buttonBuscar {
  margin-left: 35px;
  width: 200px;
  height: 100px;
  font-size: 30px;
  text-transform: none;
  border-radius: 12px;
  background-color: #c7e0f6;
  color: #0c134f;
  box-shadow: none;
}

button.buttonBuscar:hover {
  background-color: #c7e0f6;
}
