.containerSearched {
  min-height: 300px;
  flex-direction: column;
}

.containerSearched .backButton {
  position: relative;
  top: 20px;
  font-family: inherit;
  color: #19376d;
  font-weight: 700;
}

.containerSearched .backButton p {
  margin-left: 5px;
  font-weight: 500;
  font-size: clamp(0.75rem, 0.5625rem + 0.75vw, 1rem);
}

.containerSearched .boxSearchedTitle {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
}

.containerSearched .boxSearchedTitle .titleSearched {
  font-size: clamp(1.25rem, 0.75rem + 2vw, 2.25rem);
  color: #19376d;
}

.containerSearched .containerSpinner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerSearched .containerSpinner .spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px no-repeat,
    conic-gradient(#0000 30%, #474bff);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.containerSearched .boxCards {
  display: flex;
  flex-wrap: wrap;
  justify-items: start;
}

@media only screen and (max-width: 768px) {
  .containerSearched .boxSearchedTitle {
    justify-content: center;
  }

  .containerSearched .boxCards {
    width: 100% !important;
  }
}

@media only screen and (max-width: 400px) {
  .containerSearched .boxSearchedTitle {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
