.boxSearchBar {
  display: flex;
  height: 100px;
  margin-top: 35px;
}

.boxInputSearch {
  position: relative;
  height: 100%;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputSearch {
  width: 100%;
  height: 100%;
}

.inputSearch label {
  font-size: clamp(0.75rem, 0.125rem + 1.5vw, 1.25rem);
}

.inputSearch .css-1iulo1y-MuiInputBase-root-MuiFilledInput-root {
  height: 100%;
}

.inputSearch .MuiInputBase-root {
  height: 100%;
}

.inputSearch .css-1iulo1y-MuiInputBase-root-MuiFilledInput-root:before {
  width: 90%;
  margin: 0 auto;
}
.inputSearch .css-1iulo1y-MuiInputBase-root-MuiFilledInput-root:after {
  width: 90%;
  margin: 0 auto;
}

.pErrorSearchInput {
  color: crimson;
  position: absolute;
  bottom: -36px;
  left: 10px;
  font-size: clamp(0.5rem, 0.4rem + 0.8vw, 1rem);
  font-family: inherit;
}

button.buttonBuscar {
  margin-left: 35px;
  width: 200px;
  height: 100px;
  font-size: clamp(1rem, 0.5625rem + 1.75vw, 1.875rem);
  text-transform: none;
  border-radius: 12px;
  background-color: #c7e0f6;
  color: #0c134f;
  box-shadow: none;
}

button.buttonBuscar:hover {
  background-color: #c7e0f6;
}

.inputSearch .MuiInputBase-formControl {
  font-size: clamp(1.125rem, 0.75rem + 1.5vw, 1.875rem);
}

@media only screen and (max-width: 768px) {
  .boxSearchBar {
    height: 60px;
  }
  .pErrorSearchInput {
    bottom: -28px;
    left: 20px;
  }
  .boxInputSearch {
    width: 400px;
  }
  .inputSearch {
    width: 95%;
    height: 100%;
  }
  button.buttonBuscar {
    margin-left: 35px;
    width: 150px;
    height: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .boxSearchBar {
    height: 60px;
  }
  .pErrorSearchInput {
    left: 12px;
    bottom: -22px;
  }
  .boxInputSearch {
    width: 400px;
    height: 100%;
  }
  .inputSearch {
    width: 100%;
    height: 100%;
    font-size: 10px;
  }
  button.buttonBuscar {
    margin-left: 10px;
    width: 100px;
    height: 100%;
  }
}
